LOOPS IN PYTHON

FOR LOOPS ARE THE LOOPS WHICH HELPS US TO ITERATE OVER A NUMBER. IT USES A RANGE FUNCTION WHICH HAS 3 PARAMETERS MAXIMUM NAMELY START PARAMETER, STOP PARAMETER AND STEP PARAMETER. THE DEFAULT STEP PARAMETER IS 1 AND THE DEFAULT START PARAMETER IS 0. THE RANGE FUNCTION WILL EXCLUDE THE LAST NUMBER.

In [70]:
## Displaying numbers from 0 to 4

for i in range(5):
    print(i)

0
1
2
3
4

In [71]:
## Displaying numbers from 1 to 5

for i in range(1, 6):
    print(i)

1
2
3
4
5

In [72]:
## Displaying numbers from 1 to 5

for i in range(1, 6, 1):
    print(i)

1
2
3
4
5

In [73]:
## Displaying odd numbers from 1 to 5

for i in range(1, 6, 2):
    print(i)

1
3
5

In [74]:
## Displaying numbers in reverse order

for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

In [75]:
## Displaying odd numbers in reverse order

for i in range(5, 0, -2):
    print(i)

5
3
1

In [76]:
## Displaying all the characters of a string

str = "Soumyakant Tripathy"

for char in str:
    print(char)

S
o
u
m
y
a
k
a
n
t

T
r
i
p
a
t
h
y

WHILE LOOPS CONTINUES TO EXECUTE AS LONG AS THE CONDITION IS TRUE

In [77]:
## Displaying numbers from 0 to 5 using while loop

i = 0

while i <= 5:
    print(i)
    i += 1

0
1
2
3
4
5

In [78]:
## Displaying numbers from 1 to 5 using while loop

i = 0

while i % 2 == 0:
    print(i)
    i += 1

0

LOOP CONTROL STATEMENTS
1. break
2. continue
3. pass

BREAK STATEMENT EXITS THE FOR LOOP PREMATURELY

In [79]:
## break statement

for i in range(1, 6):
    if i == 3:
        break
    print(i)

1
2

CONTINUE STATEMENT SKIPS THE CURRENT ITERATION AND CONTINUE WITH THE NEXT

In [80]:
## continue statement

for i in range(1, 6):
    if i == 3:
        continue
    print(i)

1
2
4
5

PASS IS A NULL OPERATION AND DOES NOTHING

In [81]:
## pass statement

for i in range(1, 6):
    if i == 3:
        print(f"Value of i is {i}")
        pass
    print(i)

1
2
Value of i is 3
3
4
5

NESTED LOOPS ARE THE LOOPS INSIDE ANOTHER LOOP

In [82]:
## example of nested loop

for i in range(1, 6):
    for j in range(1, 6):
        print(f"i = {i}, j = {j}")

i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 1, j = 4
i = 1, j = 5
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 2, j = 4
i = 2, j = 5
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3
i = 3, j = 4
i = 3, j = 5
i = 4, j = 1
i = 4, j = 2
i = 4, j = 3
i = 4, j = 4
i = 4, j = 5
i = 5, j = 1
i = 5, j = 2
i = 5, j = 3
i = 5, j = 4
i = 5, j = 5

In [83]:
## sum of first n natural numbers using while loop

n = int(input("Enter a number: "))

i = 1
sum = 0

while i <= n:
    sum += i
    i += 1

print(f"The sum of first {n} natural numbers is {sum}")

The sum of first 25 natural numbers is 325

In [84]:
## sum of first n natural numbers using for loop

n = int(input("Enter a number: "))

sum = 0

for i in range(1, n + 1):
    sum += i

print(f"The sum of first {n} natural numbers is {sum}")

The sum of first 30 natural numbers is 465

In [85]:
## displaying all prime numbers between 1 to N

n = int(input("Enter a number: "))

if n == 1:
    print("There are no prime numbers")
elif n > 1:
    for i in range(2, n + 1):
        for j in range(2, i):
            if i % j == 0:
                break
        else:
            print(i)
else:
    print("You entered a negative number")

You entered a negative number